
.footer {
  padding: 0;
  background-image: url('Experience.css');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 26%; 
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}


@media (max-width: 767px) {
  .footer {
    padding: 0;
  }

  .footer img {
    width: 20%; 
  }

  .footer p {
    font-size: 12px; 
    margin-top: 10px;
  }
}
